/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Cherry+Bomb+One&family=Righteous&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background: rgb(143,0,187);
   background: radial-gradient(circle, rgb(127, 7, 164) 0%, rgb(76, 0, 123) 30%, rgba(22,0,64,1) 70%);
   height: 100vh;
   display: grid;
   place-content: center;
}

h1 {
    color:white;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Righteous', cursive;
}

.star-1,
.star-2,
.star-3,
.star-4,
.star-5,
.star-6,
.star-7,
.star-8,
.star-9,
.star-10,
.star-11,
.star-12,
.star-13,
.star-14,
.star-15,
.star-16,
.star-17,
.star-18,
.star-19,
.star-20,
.star-21,
.star-22,
.star-23,
.star-24,
.star-25,
.star-26,
.star-27,
.star-28,
.star-29,
.star-30,
.star-31,
.star-32,
.star-33,
.star-34,
.star-35,
.star-36,
.star-37,
.star-38,
.star-39,
.star-40,
.star-51,
.star-52,
.star-53,
.star-54,
.star-55,
.star-56,
.star-57,
.star-58,
.star-59,
.star-60 {
    width: 5px;
    height: 5px;
    background: white;
    opacity: 0.5;
    border-radius: 50%;
    animation: moving-star 15s linear infinite;
    position: absolute;
    top: -1px;
}


@keyframes moving-star {
    0% {
        /* transform: translateY(0px); */
        /* transform: translateY( -1px); */
        transform: translate(-60px, -1px);
    }

    50%{
        transform: translate(150px, 500px);
    }
    100% {
        transform: translate(30px, 800px);
        /* transform: translateY(-2000px); */
    }
}
